{% extends "base.html" %}

{% block head %}
    <title>时光轴_皮爷の博客</title>
{% endblock %}

{% block content %}
  <div class="pagebg timer"> </div>
  <div class="container">
    <h1 class="t_nav"><span>时光飞逝，机会就在我们眼前，何时找到了灵感，就要把握机遇，我们需要智慧和勇气去把握机会。</span>
      <p class="n1">时间轴</p>
    </h1>
    <div class="timebox">
      <ul id="list">
          {% for time_article in time_articles %}
                 <li>
                     <span>{{ time_article.publish_time }}</span>
                     <a href="/article?article_id={{ time_article.id }}" title="{{ time_article.title }}">{{ time_article.title }}
                     </a>
                 </li>
          {% endfor %}
      </ul>
      <ul id="list2">
      </ul>
      <script src="js/page2.js"></script>
    </div>
  </div>
{% endblock %}
